
{{ $baseUrl := .Site.BaseURL }}
<nav class="main-menu menu-colors">
    <ul class="menu menu-colors no-list-float">
        <li><a href="{{ $baseUrl }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li><a href="#!" data-lightbox-id="searchbox"><i class="fa fa-search fa-2x"></i></a></li>
        {{ with .Site.Params.Footer }}
            <li class="blue-grey-text" style="border-top: 1px solid; height: 1em;"><!-- Separator --></li>
            {{ range .List }}
                <li>
                    <a href="{{ .icon_link }}">
                        <i class="fa fa-{{ .icon_class }} fa-2x"></i>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>

{{ partial "core/search-lightbox.html" . }}

